<robot name="object">
  <link name="object">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="visual.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="visual.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="5.1000005692921354e-05" iyy="5.099165959558471e-05" izz="5.0999450885997874e-05" ixy="-4.4959129033554e-09" ixz="3.4488745310231364e-09" iyz="-9.785480274613639e-09"/>
    </inertial>
  </link>
</robot>
