<robot name="object">
  <link name="object">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="visual.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="collision.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="3.196228148153732e-05" iyy="6.06702866301183e-05" izz="8.27289933295099e-05" ixy="-5.156648734655408e-09" ixz="-6.390217510632272e-08" iyz="-7.698595935862586e-08"/>
    </inertial>
  </link>
</robot>
