<robot name="object">
  <link name="object">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="visual.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="collision.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.00015887610894652489" iyy="9.52552816443073e-05" izz="0.00015335181743759193" ixy="-8.064112082377058e-06" ixz="-2.0508650228531684e-05" iyz="9.09295967856866e-06"/>
    </inertial>
  </link>
</robot>
