<robot name="object">
  <link name="object">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="visual.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="visual.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="5.970680533721641e-05" iyy="5.971594387080264e-05" izz="5.969265387475951e-05" ixy="7.499920807100418e-09" ixz="2.264818418692335e-09" iyz="1.8487880593786756e-11"/>
    </inertial>
  </link>
</robot>
