<robot name="object">
  <link name="object">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="visual.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="collision.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="2.796174691094383e-05" iyy="2.2017440122540116e-06" izz="2.8569723115268643e-05" ixy="4.059729894623882e-06" ixz="-1.2216405530559895e-07" iyz="-1.2826532915850566e-06"/>
    </inertial>
  </link>
</robot>
