<robot name="object">
  <link name="object">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="visual.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="visual.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="4.194409679212718e-05" iyy="4.1932409680099806e-05" izz="4.193393991599351e-05" ixy="9.913251243361274e-09" ixz="-5.915624447992691e-09" iyz="7.503959666537078e-09"/>
    </inertial>
  </link>
</robot>
