<robot name="object">
  <link name="object">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="visual.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="collision.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="1.942130081422374e-05" iyy="1.4953955611075338e-05" izz="2.3139454660793538e-05" ixy="3.7015662961358213e-06" ixz="-2.4790730109088425e-06" iyz="6.751048403757119e-07"/>
    </inertial>
  </link>
</robot>
