<robot name="object">
  <link name="object">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="visual.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="collision.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.00012571993078663193" iyy="9.899349483136866e-06" izz="0.00012845347696209352" ixy="1.8253114263214223e-05" ixz="-5.492667044927402e-07" iyz="-5.766988863567964e-06"/>
    </inertial>
  </link>
</robot>
