<robot name="object">
  <link name="object">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="visual.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="visual.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="5.588484304447832e-05" iyy="3.729733851109967e-05" izz="3.729581999420785e-05" ixy="-3.372457611667049e-09" ixz="-3.6957252307000405e-09" iyz="2.5323584487171285e-09"/>
    </inertial>
  </link>
</robot>
