<robot name="object">
  <link name="object">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="visual.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="visual.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="5.46617171996317e-05" iyy="3.569785288983202e-05" izz="3.569832996023687e-05" ixy="-1.7429127260364602e-09" ixz="-1.442496130160139e-09" iyz="-1.517976649530636e-09"/>
    </inertial>
  </link>
</robot>
