<robot name="object">
  <link name="object">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="visual.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="collision.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="1.728538401942751e-05" iyy="2.6618019627297503e-05" izz="2.613433134605748e-05" ixy="5.456630973254625e-06" ixz="-4.0257403269816996e-06" iyz="-2.8701358610351957e-06"/>
    </inertial>
  </link>
</robot>
