<robot name="object">
  <link name="object">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="visual.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="visual.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="5.488789378134633e-05" iyy="5.4882752724095484e-05" izz="5.488113618676403e-05" ixy="-3.4403698034853777e-09" ixz="9.536032797593285e-10" iyz="3.5923385837838235e-09"/>
    </inertial>
  </link>
</robot>
