<robot name="object">
  <link name="object">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="visual.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="collision.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="9.773534178504556e-05" iyy="0.00014634228755977852" izz="0.0002083031707012367" ixy="3.3669391534773247e-09" ixz="-1.4723720785714392e-07" iyz="-3.596380025368743e-06"/>
    </inertial>
  </link>
</robot>
