<robot name="object">
  <link name="object">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="visual.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="collision.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="4.798583884848603e-05" iyy="7.185074814601833e-05" izz="0.00010227213818806783" ixy="1.6530908541429541e-09" ixz="-7.229013373967607e-08" iyz="-1.765741124789971e-06"/>
    </inertial>
  </link>
</robot>
