<robot name="object">
  <link name="object">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="visual.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="collision.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="5.416612688966418e-05" iyy="4.662404124702993e-05" izz="6.122717858624655e-05" ixy="-6.281172990172628e-08" ixz="-9.66852557440106e-06" iyz="-1.0617458845271375e-06"/>
    </inertial>
  </link>
</robot>
