<robot name="object">
  <link name="object">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="visual.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="collision.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.00016499546673382694" iyy="0.00024705304752426936" izz="0.00035165456266144014" ixy="5.684020610620698e-09" ixz="-2.485638397254963e-07" iyz="-6.071359551215301e-06"/>
    </inertial>
  </link>
</robot>
